*
!Cargo.lock
!Cargo.toml
!go.mod
!go.sum
!package*.json
!rust-toolchain.toml

!server/Justfile
!server/cmd
!server/internal
!server/migrations
!server/openapi/
server/openapi/out.yml

!web/.npmrc
!web/Justfile
!web/src/
!web/static/
!web/svelte.config.js
!web/translations
!web/tsconfig.json
!web/vite.config.ts
