*
!go.mod
!go.sum

!server/Justfile
!server/cmd
!server/internal
!server/migrations

!web/Cargo.lock
!web/Cargo.toml
!web/Dioxus.toml
!web/Justfile
!web/assets
!web/index.html
!web/input.css
!web/rust-toolchain.toml
!web/src/
!web/tailwind.config.js
