@use "sass:math";

// Function for converting a px based font-size to rem.
@function px-to-rem($size) {
    @return math.div($size, 16px) * 1rem;
}

$shades: 50 100 200 300 400 500 600 700 800 900;

:root {
    --oxi-color-black: black;
    --oxi-color-white: white;

    --oxi-color-primary-50: #e8edf2;
    --oxi-color-primary-100: #d1dbe4;
    --oxi-color-primary-200: #a3b7ca;
    --oxi-color-primary-300: #7592af;
    --oxi-color-primary-400: #476e95;
    --oxi-color-primary-500: #194a7a;
    --oxi-color-primary-600: #143b62;
    --oxi-color-primary-700: #0f2c49;
    --oxi-color-primary-800: #0a1e31;
    --oxi-color-primary-900: #050f18;

    --oxi-color-danger-50: #fbedeb;
    --oxi-color-danger-100: #f7dbd6;
    --oxi-color-danger-200: #efb6ad;
    --oxi-color-danger-300: #e69285;
    --oxi-color-danger-400: #de6d5c;
    --oxi-color-danger-500: #d64933;
    --oxi-color-danger-600: #ab3a29;
    --oxi-color-danger-700: #802c1f;
    --oxi-color-danger-800: #561d14;
    --oxi-color-danger-900: #2b0f0a;

    --oxi-size-0: 0px;
    --oxi-size-px: 1px;

    @for $i from 1 through 32 {
        --oxi-size-#{$i}: #{px-to-rem(4px * $i)};
    }

    --oxi-rounded-none:	0px;
    --oxi-rounded-sm:	boxrder-radius: 0.125rem; /* 2px */
    --oxi-rounded:	0.25rem; /* 4px */
    --oxi-rounded-md:	0.375rem; /* 6px */
    --oxi-rounded-lg:	0.5rem; /* 8px */
    --oxi-rounded-xl:	0.75rem; /* 12px */
    --oxi-rounded-2xl:	1rem; /* 16px */
    --oxi-rounded-3xl:	1.5rem; /* 24px */
    --oxi-rounded-full:	9999px;
}

.text-white {
    color: var(--oxi-color-white);
}

@each $shade in $shades {
    .text-primary-#{$shade} {
        color: var(--oxi-color-primary-#{$shade});
    }

    .text-danger-#{$shade} {
        color: var(--oxi-color-danger-#{$shade});
    }
}
