.button {
    padding: var(--oxi-size-2) var(--oxi-size-6);
    border-radius: var(--oxi-rounded);
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 100%;

    &.disabled {
        pointer-events: none;
    }


    &.filled {
        @mixin light {
            background-color: var(--oxi-color-primary-400);
        }

        border: 0;
        background-color: var(--oxi-color-primary-500);
        color: var(--oxi-color-primary-50);

        &.light {
            background-color: var(--oxi-color-primary-200);
        }

        &:hover {
            @include light;
        }

        &:disabled {
            @include light;
        }

        &.disabled {
            @include light;
        }
    }

    &.outline {
        @mixin light {
            border: 1px solid var(--oxi-color-primary-400);
            color: var(--oxi-color-primary-400);
        }

        border: 1px solid var(--oxi-color-primary-500);
        color: var(--oxi-color-primary-500);

        &:hover {
            @include light;
        }

        &:disabled {
            @include light;
        }

        &.disabled {
            @include light;
        }
    }

    &.ghost {
        @mixin light {
            color: var(--oxi-color-primary-300);
        }

        color: var(--oxi-color-primary-500);
        text-decoration: underline;

        &:hover {
            @include light;
        }

        &:disabled {
            @include light;
        }

        &.disabled {
            @include light;
        }
    }
}

.fab {
    position: fixed;
    z-index: 50;
    padding: var(--oxi-size-2);
    margin: var(--oxi-size-8);
    bottom: 0;
    right: 0;
    border-radius: var(--oxi-rounded-full);
    height: 50px;
    width: 50px;

    svg {
        height: 30px;
        width: 30px;
    }

    &.primary {
        background-color: var(--oxi-color-primary-500);
        color: var(--oxi-color-primary-50);
    }
}
