.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: var(--oxi-size-10);
    width: 100%;
}

.fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &.inputs {
        gap: var(--oxi-size-4);
        width: 100%;
    }

    &.buttons {
        gap: var(--oxi-size-2);
    }
}
